@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  background-color: #f76557;
  padding: 15px 25px;
  border-radius: 12px;
  border: none;
  color: white;
}

@layer components {
  .grid-responsive {
    @apply grid gap-4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  /* @screen sm {
    .grid-responsive {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    }
  } */
}
