@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  background-color: #f76557;
  padding: 15px 25px;
  border-radius: 12px;
  border: none;
  color: white;
}

@layer components {
  .grid-responsive {
    @apply grid gap-4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  /* @screen sm {
    .grid-responsive {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    }
  } */
}

label {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
}

input,
textarea {
  border: 1px solid rgba(128, 128, 128, 0.242);
  border-radius: 15px;
  padding: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .frustration-grid div:nth-child(3) {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
  }
}

address {
  font-style: normal;
}

article h2 a {
  color: #1a55da !important;
  text-decoration: none !important;
}

article h3 a {
  color: #1a55da !important;
  text-decoration: none !important;
}

article h4 a {
  color: #1a55da !important;
  text-decoration: none !important;
}
